<!-- prueba.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es-ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.35, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="css.css">
        <title>Cocina</title>
        <style>
            body {
                background: linear-gradient(to bottom, #000000, #00008B);
            }
        </style>
    </head>
<body>
<h1>Preferencias de Platillos</h1>
<p>Estos son los platillos que los usuarios quisieran ver en el menu</p>
<h2>Menú</h2>
<table>
    <caption>tabla de preferencias usuario</caption>
    <tr>
        <th>Nombre del Plato</th>
        <th>Descripción</th>
        <!-- Agrega más columnas según tus atributos de Preferencias -->
    </tr>
    <tr th:each="preferencia : ${preferencias}">
        <td th:text="${preferencia.plato}"></td>
        <td th:text="${preferencia.descripcion}"></td>
        <!-- Agrega más celdas según tus atributos de Preferencias -->
    </tr>
</table>
<a th:href="@{/cocina}">
    <button type="button">Volver a la cocina</button>
</a>
</body>
</html>
